*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------- - - - - - - - - - -----------*/
/* FIXME: */
main {
  overflow: hidden;
}

.header {
  background-color: rgb(53, 45, 47);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.header__logo {
  width: 70px;
  float: left;
}
.header__search {
  flex: 0.1;
  border-radius: 30px;
  border-color: rgb(20, 17, 18);
  background-color: rgb(73, 62, 65);
  padding-left: 10px;
  transition: all 0.3s;
}
.header__search:focus {
  flex: 0.75;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  transition: all 0.3s;
}
.header__language-select {
  flex: 0.1;
  display: none;
}
.header__menu-button {
  flex: 0.05;
}
.navigation {
  display: flex;
  flex-direction: column;
}
.header__navigation {
  display:none;
  justify-content: center;
  background-color:rgb(53, 45, 47);
  width: 100%;
  top: 70px;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
}
.header__menu-button::after {
  position: relative;
  left: 0px;
  content: "";
}
.header__menu-button:checked::after {
  content: "";
}
.header__menu-button:checked + .header__navigation {
  opacity: 1;
  height: 100%;
}
.header__link, .header__link--active{
  text-align: center;
  text-decoration: none;
  color:rgb(255, 255, 255);
  width:50%;
  padding:10px;
}
.title{
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: center;
  min-width:360px;
  margin: 0 auto;
  width:100%;
  height: 100vh;
  padding:40px 20px;
  background-color: rgb(53, 45, 47);
  color:rgb(255, 255, 255);

}
.title__innerHeader{
  font-size:3em;
  padding:10px;
  text-align: center;
  letter-spacing: .2em;
  width:100%;
  
}
.title__watch-button{
  opacity: 0.5;
  background: rgba(53, 45, 47, 0.5);
  padding:10px 20px;
  color:inherit;
  border-style:solid;
  border-color: rgba(255, 255, 255, 0.5);
  margin:10px auto;
}
.title__watch-button:hover,.title__scroll-down-link:hover{
  opacity:1;

} 
.watch-button__inner::before{
  font-family: FontAwesome;
  margin-right:10%;
  content:'\f04b';
}
.title__scroll-down-link{
  opacity: 0.5;
  display:block;
  margin:40px auto;
  text-decoration: none;
  color:rgba(255, 255, 255);
}
.scroll-down-link__mouse{
  margin:0 auto;
}

.scroller{
  display: block;
  text-align: center;
  min-width: 360px;
  margin: 0 auto;
  padding:20px 10%;
  max-width: 1170px;
}
.scroller__text{
  color:rgb(0,0,0);
  font-size:2em;
  padding:10px;
  text-align: center;
  letter-spacing: .05em;
  width:100%;
}
.scroller__button{
  display:block;
  margin:20px auto;
  padding:10px 20px;
  
  border:none;
  color:rgb(255,255,255);
  background-color: rgb(246, 60, 60);
}