* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .first-task {
    width: 100%;
    height: 960px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/snow-covered-pine-trees-on-sunset-royalty-free-image-615101076-1541521490.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, left;
  }
  .second-task {
    margin: 10px auto;
    width: 400px;
    height: 400px;
    background-color: #424242;
    position: relative;
  }
  .w100 {
    position: absolute;
    width: 100px;
    height: 100px;
  }
  .fir {
    top: 0;
    left: 0;
    background-color: crimson;
  }
  .sec {
    top: 0;
    left: 150px;
    background-color: rgb(57, 20, 220);
  }
  .thi {
    top: 0;
    right: 0;
    background-color: rgb(20, 213, 220);
  }
  .fou {
    top: 150px;
    left: 0;
    background-color: rgb(20, 220, 137);
  }
  .fiv {
    top: 150px;
    left: 150px;
    background-color: rgb(20, 220, 63);
  }
  .six {
    top: 150px;
    right: 0;
    background-color: rgb(37, 220, 20);
  }
  .sev {
    bottom: 0;
    left: 0;
    background-color: rgb(167, 220, 20);
  }
  .eig {
    bottom: 0;
    left: 150px;
    background-color: rgb(163, 20, 220);
  }
  .nin {
    bottom: 0;
    right: 0;
    background-color: rgb(180, 20, 220);
  }


  /* 3 */
  a{text-decoration: none;
  }
  ul{
      margin: 0;
      padding: 0;
      list-style:none;
  }
  body{
    height: 200vh;
  }
  .side{
      width: 200px;
      margin: 20px;
  }
  .menu_item{
    background-color: #3d3d3d;
    color:#fff;
    padding:10px;
    display:block;
    transition: 0.5s all;
  }
  .menu_item:hover{
      background: #666;
      padding:10px 0 10px 20px;
  }
  .menu__list{
      position: relative;
  }
  .menu__drop{
      position: absolute;
      width: 100%;
      left:100%;
      top:-9999em;
      opacity:0;
      transition: 0.5s opacity;
  }
  .menu__list:hover .menu__drop{
     opacity:1; 
     top:0;
  }