/* font-family: 'Playfair Display', serif; */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  padding: 10px;
}
.image {
  display: block;
  width: 100%;
}
.navigation {
  display: flex;
  flex-direction: column;
}
.header__navigation {
  position: absolute;
  background:white;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
}
.header__menu-button::after {
  position: relative;
  left: 15px;
  content: "close";
}
.header__menu-button:checked::after {
  content: "open";
}
.header__menu-button:checked + .header__navigation {
  opacity: 1;
  height: 100%;
}
.header__link {
  display: block;
  padding: 10px 20px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  background-color: #3f3f3f;
  color: white;
}
@media (min-width: 768px) {
  .header__link {
    width: 50%;
  }
  .container {
    padding: 10px 40px;
  }
}
@media (min-width: 1100px) {
  .header__menu-button {
    display: none;
  }
  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__link {
    max-width: 200px;
    margin: 0 10px;
  }
  .article {
    width: 50%;
    padding: 20px;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }
}
