*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.first{
    width:960px;
    border:1px dotted gray;
    height: 50vh;
    margin:20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}
.first__header, .first__footer{
    width:100%;
    height: 5vh;
    margin: 10px 0;
    background-color:yellow;
}
.first__blue-content{
    width: 54.16%;
    height:35vh;
    background-color:blue;
}
.first__gray-content, .first__red-content{
 width:20.9%;
 height:35vh;
 background-color: red;
}
.first__gray-content{
    background-color:gray;
}
.wrapper{
    margin-top:20px;
    display:flex;
    flex-flow: row wrap;
}
.wrapper__content{
    width: 80%;
    height: 50vh;
    background-color:#f8f546;
}
.wrapper__sidebar{
    width: 20%;
    height: 50vh;
    background-color:#9cf846;
}

@media (max-width: 768px){
    .wrapper{
        flex-direction: column;
        margin:0;
    }
    .wrapper__content{
     width:100%;
        height: 50vh;
    }
    .wrapper__sidebar{
        width:100%;
        height: 50vh;  
    }
}

.third{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border:2px dotted gray;
    padding:10px;
    margin-top:10px ;
}
.third__red-block{
    width: 100%;
    margin-bottom: 10px;
    height: 30vh;
    background-color:red;
}
.third__green-block{
    width: 35%;
    height: 70vh;
    background-color: green;
}
.third__blue-block{
    width: 65%;
    height: 70vh;
    background-color: blue;
}

@media (max-width: 768px){
    .third__green-block,.third__blue-block{
        width: 100%;
        margin-bottom: 10px;
    }
}

img{
    display: block;
    max-width:100%;
    height:auto;
}