*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.table{
    margin:20px auto;
    border-collapse: collapse;
}
.table__caption{
    font-size: 1.25em;
    margin-bottom:10px;
}
.table__header{
    background-color:#3d3d3d;
    color:#fff;
}
.table__item{
    border:1px solid #000;
    padding:10px 20px;
}
.table__item:first-of-type{
    text-transform: uppercase;
}

.form-wrapper{
    width:300px;
    margin:0 auto;
    display: flex;
    border:1px dashed green;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}
.form-wrapper__input-field, .form-wrapper__textarea{
    width:90%;
    padding:10px 20px;
    margin: 10px 0;
}
.form-wrapper__submit{
    border:none;
    padding:10px 20px;
    margin: 10px;
    background-color: rgb(233, 16, 16);
    color:#fff;
    cursor: pointer;
    transition: 0.5s all;
}
.form-wrapper__submit:hover{
    background-color:rgb(253, 105, 6);
    color:rgb(0, 0, 0);
    width:90%;
    transition: 0.5s all;
}