*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.gallery-container{
    width: 400px;
    height: 400px;
    padding:30px;
    margin:10px auto;
    display:flex;
    border: 2px dotted gainsboro;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}
.gallery-container__item{
    width: 100px;
    height: 100px;
    background: no-repeat url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/snow-covered-pine-trees-on-sunset-royalty-free-image-615101076-1541521490.jpg) center;
}

.card{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    width: 400px;
    height:500px;
    margin: 10px auto;
    padding:5px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card__image{
    width: 100%;
    height: auto;
    transition: 0.2s transform;
}
.card__image:hover{
    transform:rotate(5deg);
    transition: 0.2s transform;
}
.card__user-data{
    font-size: 2em;
    text-align: center;
    transition: 0.2s font-size;
    transition: 0.3s color;
}
.card__user-data:hover{
    color:red;
    font-size:2.6em;
    transition: 0.2s font-size;
    transition: 0.3s color;
}
.card__description{
    text-align: center;
}
.card__like{
    padding:10px 20px;
    background-color:#000;
    color:#fff;
    width: 20%;
    margin: 10px auto;
    border:none;
    transition: 0.2s all;
}
.card__like:hover{
    width:100%;
    background-color: rgb(228, 62, 192);
    color:#000;
    transition: 0.2s all;
}